/* You can add global styles to this file, and also import other style files */
@import "assets/layout/styles/layout/layout.scss";

@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";

body {
    margin: 0;
    padding: 0;
}

.ngx-toastr {
    width: 400px !important;  // Specify toastr-dialog width for all devices
}